# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 3059b83b6048ba2a0f9af92e4ad8b2ebc8268e8e4dc9fc8d447dba3c4ba47324d8499072fca61696ab7c82be7bc0224d021cc7d9bfaace46b3cb8f88382bf29f

test:
  secret_key_base: 125a0a2acacc34abd1bf41a26d82ed39dff3d33cd811180ba8c92bc0d649b7daa3c21ccd6a4793d6b3696b2d4f483c8a0c3bfafaeb26d8e041a33d897ebee8a6

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
